<h1> <%= @post.title %> </h1>

<p> <%= @post.content %> </p>

Categories:  <% @post.categories.each do |category| %>
                    <li> <%= category.name %> </li>
             <% end %>
<br>
<br>
 Comments:  <% @post.comments.each do |comment| %>
                  <li> <%= comment.content %> </li>
            <% end %>
<br>
<br>
Users:   <% @post.users.map do |user| %>
          <li> <%= user.username %> </li>
          <% end.uniq %>