<h1> <%= @post.title %> </h1>

<p> <%= @post.content %> </p>

Categories: <br>
 <ul>
   <% @post.categories.each do |category| %>
      <li> <%= category.name %> </li>
   <% end %>
 </ul>
<br>
<br>
 Comments:  <br>
<ul>
  <% @post.comments.each do |comment| %>
      <li> <%= comment.content %> </li>
  <% end %>
<ul>
<br>
<br>
Users:  <br>
<ul>
  <% @post.users.map do |user| %>
    <li> <%= user.username %> </li>
  <% end.uniq %>
<ul>
<br>
<br>
Add Comment: <br>
<%= form_for @comments do |f| %>
<%= f.label :content %>
<%= f.text_area :content %>
<%= f.submit %>
<% end %>
